body {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0;
	padding: 0;
	height: 100vh;
	background-color: #222;
}
canvas{
	background-color: #fff;
	filter: invert();
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

img {
  image-rendering: crisp-edges;
}

canvas {
	margin: 0;
}